.checkbox-group{
    display: flex;
}
.form-item{
    margin-bottom: 15px;
}

.checkbox-item+.checkbox-item{
    margin-left: 10px;
}

.phone-input span{
    margin-bottom: 8px;
    display: block;
}

.form-submit button{
    background: #7575fb;
    color: #ffffff;
    border: none;
    padding: 4px;
    width: 100%;
}
